@model BL.ViewModel.VisaViewModel
@{
    ViewBag.Title = "Place Order";
}

<h2>Place Order</h2>

<div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="col-md-12">
        <h3>Payment Method</h3>
        <div class="card">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header p-0" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-light btn-block text-left collapsed p-3 rounded-0 border-bottom-custom" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="d-flex align-items-center justify-content-between"> <span>Paypal</span> <img src="https://i.imgur.com/7kQEsHU.png" width="30"> </div>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <form method="POST" action="~/Order/Checkout">
                            <input name="PaymentMethod" type="text" value="Paypal" hidden />
                            <div class="card-body"> <input type="text" name="Account" class="form-control" placeholder="Paypal Account"> </div>
                            <div class="mr-4">
                                <button type="submit" class="subscribe btn btn-primary btn-block shadow-sm m-3 justify-content-xl-center"> Confirm Payment </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-0">
                        <h2 class="mb-0">
                            <button class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Credit card</span>
                                    <div class="icons"> <img src="https://i.imgur.com/2ISgYja.png" width="30"> <img src="https://i.imgur.com/W1vtnOV.png" width="30"> <img src="https://i.imgur.com/35tC99g.png" width="30"> <img src="https://i.imgur.com/2ISgYja.png" width="30"> </div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body payment-card-body">
                            <form method="POST" action="~/Order/Checkout">
                                <input name="PaymentMethod" type="text" value="Visa" hidden />
                                <span class="font-weight-normal card-text">Card Number</span>
                                <div class="input"> <i class="fa fa-credit-card"></i> <input type="number" name="Number" class="form-control" placeholder="0000 0000 0000 0000"> </div>
                                <div class="row mt-3 mb-3">
                                    <div class="col-md-6">
                                        <span class="font-weight-normal card-text">Expiry Date</span>
                                        <div class="input"> <i class="fa fa-calendar"></i> <input type="text" name="Expire" class="form-control" placeholder="MM/YY"> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal card-text">CVC/CVV</span>
                                        <div class="input"> <i class="fa fa-lock"></i> <input type="number"name="SequreCode" class="form-control" placeholder="000"> </div>
                                    </div>
                                </div> <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span>
                                <button type="submit" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-light btn-block text-left collapsed p-3 rounded-0 border-bottom-custom" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="d-flex align-items-center justify-content-between"> <span>payment on delivery</span> <img src="https://i.imgur.com/S17BrTx.png" width="30"> </div>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <form method="POST" action="~/Order/Checkout">
                                <input name="PaymentMethod" type="text" value="payment on delivery" hidden />
                                <div class="mr-5">
                                    <button type="submit" class="subscribe btn btn-primary btn-block shadow-sm m-4"> Confirm Payment </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




















